<h1>Inventories</h1>

<ul>
<% @inventories.each do |i| %>
	<li><%= link_to i.name, edit_inventory_path(i) %>
		<%= button_to "X", inventory_path(i), method: :delete %>

	</li>

	<% end %>
</ul>

<p>Find me in app/views/inventories/index.html.erb</p>

