<h1>Inventories</h1>

<ul>
<% @inventories.each do |i| %>
	<li><%= link_to i.name, edit_inventory_path(i) %>
		<%= button_to "Delete", inventory_path(i), method: :delete %>

	</li>

	<% end %>
</ul>



<%= link_to "Add To Inventory", new_inventory_path %>